{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Моя страница</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
<div class="container">
    <div class="column">
        <h1>реклама</h1>
        <!-- Здесь может быть ваш контент для рекламы -->
    </div>
    <div class="column">
        <img src="{% static 'images/rectangle.png' %}" alt="Rectangle" width="200" height="140">
        <div class="button-container">
            <button class="rounded-button">Букеты</button>
            <button class="rounded-button">О нас</button>
            <button class="rounded-button">Доставка</button>
            <button class="rounded-button">Оформить заказ</button>
        </div>
        <div class="popular">Популярное</div>
        <div class="line"></div>
        <div class="button-container">
            <div class="column-buttons">
                <button class="button"> Розы</button>
                <button class="button"> Ромашки</button>
                <button class="button"> На свадьбу</button>
                <button class="button"> На поминки</button>
                <button class="button"> Веночки</button>
                <button class="button">Искусственные</button>
                <button class="button"> Живые</button>
                <button class="button"> Букеты</button>
            </div>
        </div>
        <div class="line"></div>
        <div class="line1"></div>
        <div class="frames-container">
            <div class="frame">
                <h2> 101 роза</h2>
                <div class="image-container">
                    {% for image in images %}
                    <a href="{% url 'image_detail' image.id %}">
                        <img src="{{ image.image.url }}" alt="{{ image.title }}" width="150" height="150">
                    </a>
                    {% endfor %}
                </div>
                <p>Цена: 142 руб.</p>
            </div>
            <div class="frame">
                <h2> 51 роза</h2>
                <div class="image-container">
                    {% for image in images %}
                    <a href="{% url 'image_detail' image.id %}">
                        <img src="{{ image.image.url }}" alt="{{ image.title }}" width="150" height="150">
                    </a>
                    {% endfor %}
                </div>
                <p>Цена: 76 руб.</p>
            </div>
            <div class="frame">
                <h2> 11 роз</h2>
                <div class="image-container">
                    {% for image in images %}
                    <a href="{% url 'image_detail' image.id %}">
                        <img src="{{ image.image.url }}" alt="{{ image.title }}" width="150" height="150">
                    </a>
                    {% endfor %}
                </div>
                <p>Цена: 24 руб.</p>
            </div>
        </div>
        <h2>Лицензия ОАО Пупкин</h2>
        <h2>Номер ИП: 142951342</h2>
    </div>

    <div class="column">
        <h1>реклама</h1>
        <!-- Здесь может быть ваш контент для рекламы -->
    </div>
</div>
</body>
</html>